

<nav class="navbar navbar-expand-lg navbar-dark bg-primary pl-3">
    <a class="navbar-brand ml-auto mr-auto">
        <img src="~/assets/logo.png" alt="Logo da Prefeitura do Rio de Janeiro" width="240" height="42">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
        <ul class="navbar-nav mr-auto ml-auto ">
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    Página Inicial
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Sobre")">
                    Sobre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Projeto")">Projetos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Participantes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index", "PessoaFisica")">Pessoas Inovadoras</a>
                    <a class="dropdown-item " href="@Url.Action("Index", "PessoaJuridica")">Empresas Inovadoras</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contato
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Faq", "Contato")">
                        FAQ
                    </a>
                    <a class="dropdown-item" href="@Url.Action("Ajuda", "Contato")">
                        Ajuda
                    </a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-primary mr-3 border-light" data-toggle="modal" onclick="location.href='@Url.Action("Index", "Login")';">
            Login
        </button>


        <button type="button" class="btn btn-primary mr-3 border-light" data-toggle="modal" data-target="#cadModal">
            Cadastre-se
        </button>

        <div class="modal fade" id="cadModal" tabindex="-1" role="dialog" aria-labelledby="cadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">
                            Cadastrar-se como:
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="mb-2">
                            <a onclick="location.href='@Url.Action("Create", "PessoaFisica" )';">
                                <button type="button" class="btn btn-info">
                                    Pessoa Inovadora
                                </button>
                            </a>
                        </div>
                        <div class="mt-4">
                            <a onclick="location.href='@Url.Action("Create", "PessoaJuridica" )';">
                                <button type="button" class="btn btn-info">
                                    Empresa Inovadora
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


