@model eco_solution.ModelView.ModelViewPessoa

@{
    ViewBag.Title = "Details";
}


<div class="row mb-5 mt-5">
    <div class="col"></div>
    <div class="container  col-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">@Html.DisplayFor(model => model.Nome) </h1>
            </div>

            <div class="card-body">
                <div class="media text-muted pt-3">
                    <div class="media-body pb-3 small lh-125">
                    </div>
                </div>


                <h6 class="display-4 mb-5">Descrição</h6>
                <p class="card-text text-left">
                    @Html.DisplayFor(model => model.Descricao)
                </p>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>



@*
    <div>
        <h4>ModelViewPessoa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDPessoa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDPessoa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Imagem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@